<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- Setup the Piczard configuration sections -->
    <sectionGroup name="codeCarvings.piczard">
      <section name="coreSettings" type="CodeCarvings.Piczard.Configuration.CoreSettingsSectionHandler, CodeCarvings.Piczard" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="conStr" connectionString="User ID=sa;Password=123456;Data Source=127.0.0.1;Initial Catalog=ZSZ;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <codeCarvings.piczard>
    <coreSettings>
      <drawing maxImageSize="5000, 5000" />
      <imageArchiver defaultJpegQuality="92" defaultQuantizeGifImages="true" />
      <security defaultEncryptionKey="Place here your random key (alphanumeric / 10..20 chars)" />
      <plugins>
        <!-- Register here your Piczard Plugins. -->
        <!-- === EXAMPLE: DeBrand Plugin for Piczard by Digivogue - http://digivogue.com/products/Piczard-DeBrand/ ===
    		<plugin type="Digivogue.Plugins.Piczard.DeBrand.DeBrandPiczardPlugin, Digivogue.Plugins.Piczard.DeBrand">
    			<license number="..." key="..." />
    		</plugin>
    		========= -->
      </plugins>
    </coreSettings>
  </codeCarvings.piczard>
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="DEBUG" />
      <!--Degug和高于Debug水平的日记信息都会记录下来,表面要记录什么水平的日记信息-->
      <appender-ref ref="RollingFileTracer" />
      <!--这些日记记录到哪里-->
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <appender name="RollingFileTracer" type="log4net.Appender.RollingFileAppender,log4net">
      <!---->
      <param name="File" value="App_Data/Log/" />
      <!--日记保存的路径是什么-->
      <param name="AppendToFile" value="true" />
      <!---->
      <param name="RollingStyle" value="Date" />
      <!--根据什么来进行日记滚动-->
      <param name="MaxSizeRollBackups" value="10" />
      <!--最多的日记文件数量-->
      <param name="MaximumFileSize" value="1MB" />
      <!--单个日记文件的大小-->
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <!--创建日记文件名的格式-->
      <param name="StaticLogFileName" value="false" />
      <!--下面三个保持默认值就行了-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.6.2.0" newVersion="4.6.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>