
@{
    ViewBag.Title = "ForGotPassword3";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">输入新密码</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            <input type="text" name="password" id="password" value="" placeholder="请输入新密码" class="sname snametwo" />
        </li>
        <li class="clearfloat">
            <input type="text" name="password2" id="password2" value="" placeholder="请再次输入新密码" class="sname snametwo" />
        </li>
    </ul>
    <a href="#" class="pay-btn clearfloat" id="btn_next">
        确认修改
    </a>
</div>


@section FootScript{
    
    <script type="text/javascript">
        $(function () {
            $("#btn_next").click(function () {
                var password = $("#password").val();
                var password2 = $("#password2").val();
                if(password!=password2)
                {
                    alert("密码不一致");
                }

                $.ajax({
                    url: "/User/ForGotPassword3",
                    dataType: "json",
                    type: "post",
                    data: { password: password },
                    success: function (res) {

                        if (res.status == "ok") {
                            location.href = "/User/ForGotPassword4";
                        }
                        else if (res.status == "error") {
                            alert(res.errorMsg);
                        }
                    },
                    error: function () {

                        alert("服务器请求出错");
                    }



                });


                


            });




        });

    </script>
    
    
    }