
@{
    ViewBag.Title = "ForGotPassword";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">修改密码</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
        <li class="clearfloat">
            <input type="text" name="phoneNum" id="phoneNum" value="" placeholder="手机" class="sname" />
        </li>
        <li class="clearfloat">
            <input type="text" name="verifyCode" id="verifyCode" value="" placeholder="请输入右图验证码" class="syzma fl" />
            <span class="fl"><img src="~/Main/CreateVerifyCode" id="imgVerifyCode" /></span>
            <a href="#" class="fr" id="refreshVerifyCode">换一张</a>
        </li>
    </ul>
    <a href="#" class="pay-btn clearfloat" id="btn_next">
        下一步
    </a>
</div>

@section FootScript{
    
<script type="text/javascript" src="~/js/jquery.SuperSlide.2.1.js"></script>
<script type="text/javascript" src="~/slick/slick.min.js"></script>
<script type="text/javascript" src="~/js/jquery.leanModal.min.js"></script>
<script type="text/javascript" src="~/js/tchuang.js"></script>

   <script type="text/javascript">
       $(function () {

           //刷新验证码
           $("#refreshVerifyCode,#imgVerifyCode").click(function () {
               $("#imgVerifyCode").attr("src", "/Main/CreateVerifyCode?lzl" + Math.random());
           });
           
           $("#btn_next").click(function () {
               var phoneNum = $("#phoneNum").val();
               var regCode = $("#verifyCode").val();
               if(phoneNum.length<=0||regCode.length<=0)
               {
                   alert("请输入手机号和验证码");
                   return;
               }
               $.ajax({
                   url: "/User/ForGotPassword",
                   data: {phoneNum:phoneNum,regCode:regCode},
                   dataType: "json",
                   type: "post",
                   success: function (res) {
                       if(res.status=="ok")
                       {
                           location.href = "/User/ForGotPassword2";
                       }
                       else if (res.status == "error")
                       {
                           $("#imgVerifyCode").attr("src", "/Main/CreateVerifyCode?lzl" + Math.random());
                           alert(res.errorMsg);

                       }
                   },
                   error: function ()
                   {
                       alert("服务器请求出错");
                   }


               });


           });


       });

    </script>
    
    }

