
@{
    ViewBag.Title = "ForGotPassword2";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<div class="headertwo clearfloat" id="header">
    <a href="javascript:history.go(-1)" class="fl box-s"><i class="iconfont icon-arrow-l fl"></i></a>
    <p class="fl">短信验证</p>
</div>

<div class="modify clearfloat" id="main">
    <ul>
       
        <li class="clearfloat">
            <input type="text" name="RegCode" id="RegCode" value="" placeholder="请输入手机短信中的验证码" class="sname" />
        </li>
    </ul>
    <a href="#" class="pay-btn clearfloat" id="btn_next">
        验证
    </a>
</div>

@section FootScript{
 

    <script type="text/javascript">
        $(function () {

            $("#btn_next").click(function (){

                var regcode = $("#RegCode").val();
                if (regcode.length <= 0) {
                    alert("请输入验证码");
                    return;
                }
                $.ajax({
                    url: "/User/ForGotPassword2",
                    dataType: "json",
                    type: "post",
                    data: { RegCode: regcode },
                    success: function (res) {

                        if (res.status == "ok") {
                            location.href = "/User/ForGotPassword3";
                        }
                        else if (res.status == "ok") {
                            alert(res.errorMsg);
                        }
                    },
                    error: function () {

                        alert("服务器请求出错");
                    }



                });

            });

           


        });

    </script>


    


    }
